.details-view {
    color: var(--small-text);
    &__image {
        float: right;

        @media screen and (max-width: 1089px) {
            height: 190px;
            width: auto;
            padding: 0 0 1rem 1rem;
        }
        @media screen and (min-width: 1090px) {
            float: left;
        }
    }

    &__content {
        display: flex;
    }

    &__details {
        @media screen and (min-width: 1090px) {
            float: right;
            width: 66.4%;
        }
    }

    &__details__name {
        color: white;
        margin: 0.5rem 0;
    }

    &__details__summary {
        max-width: 40rem;
    }
}
