:root {
    --body: #0f0f0f;
    --header: #0f0f0f;
    --title: #fff;
    --small-text: #a7a7a7;

    --search-input-background: #fff;
    --search-input-color: #000;

    --cta-button-background: #006156;
    --cta-button-border-color: #005f57;
    --cta-button-background-hover: #008075;
    --cta-button-color: #fff;

    --back-button-background: #0f0f0f;
    --back-button-color: #fff;
}